:root {
    --signal-default-color: #4CAF50;
    --main-color: #CB81DA;
    --main-dark-color: #2D323B;
    --main-light-color: rgba(203, 129, 218, 0.7);
    --sidebar-width: 330px;
    --right-nav-width: 50px;
    --time-scale-height: 30px;
    --sidebar-padding: 10px;
    --sidebar-item-margin: 5px;
    --toolbar-height: 50px;
    --toolbar-item-height: 32px;
    --font-size-xsp: 11px;
    --md-zoom: 1.12;

    --code-font-family: Consolas, Monaco, "Cascadia code", 'Andale Mono', 'Ubuntu Mono', monospace;

    /* css 动画属性 */
    --animation-7s: .7s cubic-bezier(0.23, 1, 0.32, 1);
    --animation-5s: .5s cubic-bezier(0.23, 1, 0.32, 1);
    --animation-3s: .35s cubic-bezier(0.23, 1, 0.32, 1);
    --gray-box-shadow-0: 0 0 8px 3px rgba(182, 181, 182, 0.9);
    --gray-box-shadow-1: 0 0 5px 1px rgba(16, 16, 16, 0.5);
}

@font-face {
    font-family: "Cascadia code";
    src: url("./CascadiaCode.woff2");
}

html,
body {
    background-color: var(--background);
    color: var(--foreground);
    overflow: hidden;
}

body::-webkit-scrollbar {
    width: 0;
}


.el-select__wrapper {
    min-width: 100px;
    padding: 13px;
    font-size: 16px;
    color: var(--sidebar-item-text);
}

.el-select-group__title {
    color: var(--main-color) !important;
}

.el-select__placeholder {
    color: var(--sidebar-item-text) !important;
}

.el-select-dropdown {
    background-color: var(--sidebar);
    border: 1.0px solid var(--main-color);
}

.el-checkbox-button__inner {
    font-size: 16px !important;
}

.el-textarea__inner {
    border-radius: .9em !important;
    padding: 10px !important;
    box-shadow: 0 0 0 1px var(--main-color) !important;
}


a {
    color: var(--main-color);
}

.el-radio-button__original-radio:disabled:checked+.el-radio-button__inner {
    opacity: 0.6;
}

.el-select__wrapper.is-disabled {
    opacity: 0.6;
    box-shadow: unset !important;
}

.el-textarea__inner::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.el-textarea__inner::-webkit-scrollbar-track {
    background: transparent;
    /* 浅紫色背景 */
    border-radius: 4px;
}

.el-textarea__inner::-webkit-scrollbar-thumb {
    background: var(--main-color);
    /* 使用您的主题色 */
    border-radius: 4px;
}

.el-textarea__inner::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
    /* 深紫色悬停状态 */
}

* hr {
    border: none;
    width: 95%;
    background-color: var(--background);
    height: 1px;
}

.openmcp-code-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    overflow: hidden;
    font-size: 12px;
}

.openmcp-code-block pre code {
    background-color: transparent !important;
}

.openmcp-code-block pre code::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

.tool-arguments .openmcp-code-block pre code {
    background: transparent !important;
}

.openmcp-code-block pre code::-webkit-scrollbar-track {
    background: transparent;
    /* 浅紫色背景 */
    border-radius: 4px;
}

.openmcp-code-block pre code::-webkit-scrollbar-thumb {
    background: #cb81da;
    /* 使用您的主题色 */
    border-radius: 4px;
}

.openmcp-code-block pre code::-webkit-scrollbar-thumb:hover {
    background: #a259b5;
    /* 深紫色悬停状态 */
}

.code-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--sidebar);
    background-color: var(--main-color);
    padding: 5px 10px;
}

.inner .openmcp-code-block {
    border: none;
    margin: 0;
    padding: 0;
}

.inner .code-header {
    display: none;
    color: var(--foreground);
    background-color: transparent !important;
    padding: 0;
}

.inner pre {
    margin: 0 !important;
}

.lang-id {
    font-weight: bold;
}

.copy-button {
    cursor: pointer;
    padding: 0.2em 0.5em;
    border: none;
    border-radius: 4px;
    background-color: transparent;
    color: var(--sidebar);
    transition: all 0.3s ease;
}

.copy-button:hover {
    background-color: var(--main-color);
    color: #fff;
}

.openmcp-logo {
	background-image: url('./images/openmcp.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.server-icon {
    background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.deepseek-icon {
	background-image: url('./images/deepseek.com.ico');
}

.openai-icon {
	background-image: url('./images/openai.com.ico');
}

.mistral-icon {
	background-image: url('./images/mistral.ai.ico');
}

.ollama-icon {
	background-image: url('./images/ollama.png');
}

.grop-icon {
    background-image: url('./images/grok.com.png');
}

.perplexity-icon {
    background-image: url('./images/perplexity.ai.ico');
}

.kimi-icon {
    background-image: url('./images/kimichat.cn.png');
}